body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the body takes at least the height of the viewport */
  margin: 0;
}

.footer-container {
  background-color: #004d33; /* Darker shade of green */
  color: #fff;
  padding: 50px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-shrink: 0; /* Prevent footer from shrinking */
  width: 100%; /* Ensure footer spans the entire width */
}

.footer-info,
.footer-links,
.footer-contact,
.footer-social {
  flex: 1;
  margin-bottom: 30px;
}

.footer-info h3,
.footer-links h3,
.footer-contact h3,
.footer-social h3 {
  margin-bottom: 20px;
}

.footer-info p,
.footer-links ul,
.footer-contact p,
.footer-social ul {
  margin-bottom: 15px;
}

.footer-links ul li,
.footer-social ul li {
  margin-bottom: 10px;
}

.footer-bottom {
  text-align: center;
  width: 100%;
  margin-top: auto; /* Push footer to the bottom */
}
