
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 100vh;
    padding: 20px;
    background-color: grey;
    
}
.sidebar li{
    padding-top: 25px;
}

.sidebar li:hover{
    text-transform: uppercase;
}

.sidebar ul {
    list-style-type: none; /* Remove bullets */
  }
  